.submitbutton {
  background-color: #c8102e;
  color: #fff;
  font-weight: bold;
  padding: 15px 30px;
  border: 1px solid #f00;
  border-radius: 5px;
}

.submitbutton:hover {
  background-color: #a00;
  color: #fff;
  font-weight: bold;
  padding: 15px 30px;
  border: 1px solid #a00;
  border-radius: 5px;
}
