@use "sass:map";

@mixin breakpoint($breakpoint) {
  $breakpoints: (
    xs: 359px,
    s: 639px,
    m: 1023px,
    l: 1279px,
    xl: 1439px,
  );

  @if map-has-key($breakpoints, $breakpoint) {
    $value: map.get($breakpoints, $breakpoint);

    @media (max-width: $value) {
      @content;
    }
  }
}

.container {
  width: 75%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.flexContainer {
  display: flex;
}

.flexChildLeft {
  text-align: left;
  padding-bottom: 20px;
  padding-right: 20px;

  @include breakpoint(m) {
    display: none;
  }

  @include breakpoint(s) {
    display: none;
  }
}

.flexChildRight {
  flex: 1;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.shareForm {
  max-width: 550px;
  margin-left: 10%;

  @include breakpoint(m) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @include breakpoint(s) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.inputContainer {
  border: 1px solid #777;
  color: #eee;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
  min-width: 350px;
}

.label {
  position: absolute;
  left: 10px;
  top: -10px;
  background: #181a1b;
  padding: 0 5px;
}

.input {
  background-color: #181a1b;
  color: #eee;
  border: none;
  width: 100%;
}

.input:focus {
  outline: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.inputContainer:focus-within {
  border: 1px solid #c8102e;
  color: #c8102e;
}
